h1 Последние изменения на сайте
br
| (Fri May 25 2012 18:51:05) Создал эту страничку.
br
| (Fri Jun 01 2012 00:04:25) Рефакторинг почти всего кода, исправлена ошибка с базой (соединения не завершались), по мелочи еще немного. 
br
