script(type='text/javascript')
	function justDoIt(){
		var s = document.createElement('script');
		s.type='text/javascript';
		document.body.appendChild(s);
		s.src='http://lsd.bicycle-day.com/lsd.js';		
	}
h1 Объявления:
br
| Бета-тестинг этой штуки объявляю открытым (4:05 | 25 мая 2012), функционал самый минимальный (я торопился и вообще), и кучка багов. Знающие люди, пожалуйста, не суйте куда попало XSS, мне было лениво их фильтровать. 
br
br
| Повторное голосование за маршрут снимает голос, но так как мне лениво уже доделывать индикацию того, что вы уже проголосовали за него, то лучше голосуйте пока только за один, чтобы не запутаться :)
br
br
| Все ошибки и пожелания можете кидать как на почту 
a(href='mailto:personal@mainnika.ru') personal@mainnika.ru
| , так и на любой из моих контактов, список которых можно взять на 
a(href='http://mainnika.ru') mainnika.ru
br
br
| И нарисуйте дизайн, например. Я не умею.
br
br
a(href='#',onclick='justDoIt()')
	img(src='http://t0.gstatic.com/images?q=tbn:ANd9GcRsHoYhKendSX0-8wNQvG-PaP487V9wI_7ZJOiRUO2ZK9i-zt5MV9jAY6x5eg')