doctype 5
html
	head
		script(type='text/javascript',src='http://code.jquery.com/jquery-1.7.2.min.js')
		script(type='text/javascript')
			opener.location.reload();
			window.close();
	body
		| Статус: 
		#{status}